.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.Row {
  margin: 5px;
}

.Letter {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 0 5px;
  padding-top: 10px;
  height: 30px;
  width: 30px;
}

.Keyboard {
  max-width: 500px;
  width: 100%;
}

.KeyboardRow {
  display: Flex;
}

.KeyboardSpacer {
  flex-grow: 0.5;
}

.LetterButton {
  background-color: lightblue;
  cursor: pointer;
  flex-grow: 1;
  height: 50px;
  margin: 3px;
}

.LetterButton.Wide {
  flex-grow: 2;
}

.Correct {
  background-color: green;
}

.Misplaced {
  background-color: orange;
}

.Incorrect {
  background-color: gray;
}
